.f-text-primary {
  color: $primarycolor;
}
.f-text-secondary {
  color: $secondaryColor;
}
.f-text-third {
  color: $thirdColor;
}
.f-text-white {
  color: $lightColor;
}
.f-text-dark {
  color: $darkColor;
}
.f-text-gray {
  color: $grayColor;
}
.f-text-lightGray {
  color: $lightgray;
}
.f-text-danger {
  color: $dangerColor;
}
