.containerStyle {
  min-height: 100vh;
  margin: 0;
}
.formStyle {
  width: 80%;
  max-width: 20rem;
  border-radius: 0.925rem;
  padding: 4rem;
}

.imagePage {
  width: 300px;
  height: 350px;
}
.imageNotPage {
  width: 350px;
}
